
body {
  font-family: 'Arial', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}
#showData{
  padding: 5rem;
  
}
#app{
  
}
.input-container {
  display: flex;
  width: 300px;
}

input {
  flex: 1;
  padding: 10px;
  font-size: 16px;
  border: 2px solid #3498db;
  border-radius: 5px;
  outline: none;
}

input:focus {
  border-color: #2980b9;
}

button {
  padding: 10px;
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}

button:hover {
  background-color: #2980b9;
}

.card {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 300px;
  margin: 1rem;
}

.card-header {
  background-color: #3498db;
  color: white;
  padding: 15px;
  text-align: center;
}

.card-body {
  padding: 20px;
}

.user-info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

label {
  color: #7f8c8d;
}